@charset "UTF-8";
/* CSS Document */

body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

#wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}


/* NAVIGATION */

header {
	grid-column: 1 / 5;
}

#logo_mobile {
	grid-column: 1 / 5;
	
	display: grid;
	grid-template-columns: repeat(7, 1fr); 
	
	margin-top: 3%;
	margin-bottom: 3%;
}

#logo_mobile img {
	grid-column: 4 / 5;
	width: 100%;
}

nav {
	grid-column: 1 / 5;
}

	#navigation_list {
		grid-column: 1 / 5;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		
		align-items: center;
		list-style-type:none;
		padding: 0;
		margin: 0;
		margin-top: 1%;
		font-family: 'Cormorant Garamond', serif;
		font-weight: 400;
		font-size: 0.7em;
	}

		li a {
			text-decoration: none;
			color: #000;
		}

		li a:hover {
			color: #fff;
			background-color: #839385;

			padding: 5%;

		}


			#forside {
				grid-column: 1 / 2;
				text-align: center;
			}

			#omos {
				grid-column: 2 / 3;
				text-align: center;
			}



			#logo {
				grid-column: 6 / 8;
				
				display: none;
				grid-template-columns: repeat(5, 1fr);
			}

				#logo_link {
					grid-column: 1 / 6;

					display: grid;
					grid-template-columns: repeat(5, 1fr);
				}

					#logo #logo_link img { 
						grid-column: 2 / 5;
						width: 100%;
					}

					#logo_link:hover {
						background-color: #fff;
						padding: 0;
					}



			#webshop {
				grid-column: 3 / 4;
				text-align: center;
			}

			#kontakt {
				grid-column: 4 / 5;
				text-align: center;
				text-decoration: underline;
			}





/* MAIN */

main {
	grid-column: 1 / 5;
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 5%;
}

	main h3 {
		font-family: 'Cormorant Garamond', serif;
		font-weight: 700;
		font-size: 0.7em;
		text-align: center;
		margin-bottom: 2%;
		margin-top: 8%;
	}

	main p {
		text-align: center;
		margin: 1%;
		font-size: 0.7em;
	}

		#info {
			grid-column: 1 / 3;

			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}

			#info article {
				grid-column: 2 / 4;
				margin-top: 20%;
				margin-bottom: 20%;
			}


		#info_tekst {
			grid-column: 3 / 5;
			padding-top: 10%;
			padding-left: 10%;
			padding-right: 10%;
			padding-bottom: 15%;
			border-left: 2px solid #E0D8CE;
		}

			#info_tekst p {
				text-align: left;
				margin-top: 4%;
				line-height: 1.6;
			}



/* SÆLGERE */

.hideme {
	opacity: 1;
}
	

#danmark1 {
	grid-column: 1 / 13;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	margin-top: 5%;
}

	#danmark1 h2 {
		grid-column: 1 / 13;

		font-family: 'Cormorant Garamond', serif;
		font-weight: 400;
		font-size: 1.2em;
		text-align: center;
		
		background-color: #E0D8CE;
		padding: 1%;
		margin: 0;
		margin-left: 3%;
		margin-right: 3%;
	}

	#danmark1 h3 {
		margin: 0;		
		margin-top: 2%;
	}

		#fyn {
			grid-column: 2 / 6;

			display: grid;
			grid-template-columns: repeat(3, 1fr);
			
			margin-top: 15%;
		}

			#fyn img {
				grid-column: 2 / 3;
				width: 100%;
			}

			#fyn h3 {
				grid-column: 1 / 4;
				text-align: center;
			}

			#fyn p {
				grid-column: 1 / 4;
				text-align: center;
			}


			#midt {
				grid-column: 8 / 12;
				
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				
				margin-top: 15%;
			}

				#midt img {
					grid-column: 2 / 3;
					width: 100%;
				}

				#midt h3 {
					grid-column: 1 / 4;
					text-align: center;
				}

				#midt p {
					grid-column: 1 / 4;
					text-align: center;
				}





	#danmark2 {
		grid-column: 1 / 13;

		display: grid;
		grid-template-columns: repeat(12, 1fr);

		margin-top: 3%;
	}

		#danmark2 h3 {
			margin: 0;		
			margin-top: 2%;
		}

			#sjaelland {
				grid-column: 2 / 6;

				display: grid;
				grid-template-columns: repeat(3, 1fr);
			}

				#sjaelland img {
					grid-column: 2 / 3;
					width: 100%;
				}

				#sjaelland h3 {
					grid-column: 1 / 4;
					text-align: center;
				}

				#sjaelland p {
					grid-column: 1 / 4;
					text-align: center;
				}


				#bornholm {
					grid-column: 8 / 12;

					display: grid;
					grid-template-columns: repeat(3, 1fr);
				}

					#bornholm img {
						grid-column: 2 / 3;
						width: 100%;
					}

					#bornholm h3 {
						grid-column: 1 / 4;
						text-align: center;
					}

					#bornholm p {
						grid-column: 1 / 4;
						text-align: center;
					}

	

#sweden_norway {
	grid-column: 1 / 13;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	margin-top: 5%;
}

	#tekst_se {
		grid-column: 1 / 7;

		font-family: 'Cormorant Garamond', serif;
		font-weight: 400;
		font-size: 1.2em;
		text-align: center;
		
		background-color: #E0D8CE;
		padding: 2%;
		margin: 0;
		margin-left: 7%;
		margin-right: 7%;
	}

	#tekst_no {
		grid-column: 7 / 13;

		font-family: 'Cormorant Garamond', serif;
		font-weight: 400;
		font-size: 1.2em;
		text-align: center;
		
		background-color: #E0D8CE;
		padding: 2%;
		margin: 0;
		margin-left: 7%;
		margin-right: 7%;
	}

	#sweden_norway h3 {
		margin: 0;		
		margin-top: 2%;
	}

		#sweden {
			grid-column: 2 / 6;

			display: grid;
			grid-template-columns: repeat(3, 1fr);
			
			margin-top: 15%;
		}

			#sweden img {
				grid-column: 2 / 3;
				width: 100%;
			}

			#sweden h3 {
				grid-column: 1 / 4;
				text-align: center;
			}

			#sweden p {
				grid-column: 1 / 4;
				text-align: center;
			}


			#norway {
				grid-column: 8 / 12;
				
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				
				margin-top: 15%;
			}

				#norway img {
					grid-column: 2 / 3;
					width: 100%;
				}

				#norway h3 {
					grid-column: 1 / 4;
					text-align: center;
				}

				#norway p {
					grid-column: 1 / 4;
					text-align: center;
				}



#finland {
	grid-column: 1 / 13;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	margin-top: 5%;
	margin-bottom: 5%;
}

	#finland h2 {
		grid-column: 1 / 13;

		font-family: 'Cormorant Garamond', serif;
		font-weight: 400;
		font-size: 1.2em;
		text-align: center;
		
		background-color: #E0D8CE;
		padding: 1%;
		margin: 0;
		margin-left: 3%;
		margin-right: 3%;
	}

	#finland h3 {
		margin: 0;		
		margin-top: 2%;
	}

		#finland_1 {
			grid-column: 2 / 6;

			display: grid;
			grid-template-columns: repeat(3, 1fr);
			
			margin-top: 15%;
		}

			#finland_1 img {
				grid-column: 2 / 3;
				width: 100%;
			}

			#finland_1 h3 {
				grid-column: 1 / 4;
				text-align: center;
			}

			#finland_1 p {
				grid-column: 1 / 4;
				text-align: center;
			}


			#finland_2 {
				grid-column: 8 / 12;
				
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				
				margin-top: 15%;
			}

				#finland_2 img {
					grid-column: 2 / 3;
					width: 100%;
				}

				#finland_2 h3 {
					grid-column: 1 / 4;
					text-align: center;
				}

				#finland_2 p {
					grid-column: 1 / 4;
					text-align: center;
				}








/* FOOTER */

footer {
	grid-column: 1 / 5;
	background-color: #E0D8CE;
	text-align: center;
	font-size: 0.7em;
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	
	margin-top: 3%;
}

h4 {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;
	margin-bottom: 2%;
}

footer p {
	margin: 0;
	line-height: 1.6;
}

#adresse {
	grid-column: 1 / 5;
	margin-top: 5%;
	margin-left: 0;
}

#kontakt_footer {
	grid-column: 1 / 5;
	margin-top: 5%;
	margin-left: 0;
}

#some {
	grid-column: 1 / 5;
	margin-top: 5%;
	margin-left: 0;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

	#some h4 {
		grid-column: 1 / 13;
	}

	#instagram {
		grid-column: 6 / 7;
	}

		#instagram img {
			width: 100%;
		}

	#facebook {
		grid-column: 7 / 8;
		margin-left: 8%;
	}

		#facebook img {
			width: 100%;
		}

#cvr {
	grid-column: 1 / 5;
	text-align: center;
	color: #A7A7A7;
	margin-bottom: 1%;
	margin-top: 4%;
}










/* DESKTOP VERSION STARTER */
@media only screen and (min-width: 850px){

body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

#wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}


/* NAVIGATION */

header {
	grid-column: 1 / 13;
}

	
#logo_mobile {
	grid-column: 1 / 5;
	
	display: none;
	grid-template-columns: repeat(7, 1fr); 
	
	margin-top: 3%;
	margin-bottom: 3%;
}

#logo_mobile img {
	grid-column: 4 / 5;
	width: 100%;
}	
	
	
nav {
	grid-column: 1 / 13;
}

	#navigation_list {
		grid-column: 1 / 13;

		display: grid;
		grid-template-columns: repeat(12, 1fr);
		
		align-items: center;
		list-style-type:none;
		padding: 0;
		margin: 0;
		margin-top: 1%;
		font-family: 'Cormorant Garamond', serif;
		font-weight: 400;
		font-size: 1.2em;
	}

		li a {
			text-decoration: none;
			color: #000;
		}

		li a:hover {
			color: #fff;
			background-color: #839385;

			padding: 5%;

		}


			#forside {
				grid-column: 2 / 4;
				text-align: center;
			}

			#omos {
				grid-column: 4 / 6;
				text-align: center;
			}



			#logo {
				grid-column: 6 / 8;
				
				display: grid;
				grid-template-columns: repeat(5, 1fr);
			}

				#logo_link {
					grid-column: 1 / 6;

					display: grid;
					grid-template-columns: repeat(5, 1fr);
				}

					#logo #logo_link img { 
						grid-column: 2 / 5;
						width: 100%;
					}

					#logo_link:hover {
						background-color: #fff;
						padding: 0;
					}

			#webshop {
				grid-column: 8 / 10;
				text-align: center;
			}

			#kontakt {
				grid-column: 10 / 12;
				text-align: center;
				text-decoration: underline;
			}



/* MAIN */

main {
	grid-column: 1 / 13;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin-top: 3%;
}

	main h3 {
		font-family: 'Cormorant Garamond', serif;
		font-weight: 700;
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 2%;
		margin-top: 8%;
	}

	main p {
		text-align: center;
		margin: 1%;
		font-size: 1.2em;
	}

		#info {
			grid-column: 1 / 7;

			display: grid;
			grid-template-columns: repeat(6, 1fr);
		}

			#info article {
				grid-column: 3 / 5;
				margin-top: 25%;
				margin-bottom: 0; 
			}


		#info_tekst {
			grid-column: 7 / 13;
			padding-top: 10%;
			padding-left: 20%;
			padding-right: 20%;
			padding-bottom: 15%;
			border-left: 2px solid #E0D8CE;
		}

			#info_tekst p {
				text-align: left;
				margin-top: 4%;
				line-height: 1.6;
			}



/* SÆLGERE */

.hideme {
	opacity: 0;
}
	
#danmark1 {
	grid-column: 1 / 13;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	margin-top: 3%;
}

	#danmark1 h2 {
		grid-column: 1 / 13;

		font-family: 'Cormorant Garamond', serif;
		font-weight: 400;
		font-size: 2.2em;
		text-align: center;
		
		background-color: #E0D8CE;
		padding: 1%;
		margin: 0;
		margin-left: 3%;
		margin-right: 3%;
	}

	#danmark1 h3 {
		margin: 0;		
		margin-top: 2%;
	}

		#fyn {
			grid-column: 2 / 6;

			display: grid;
			grid-template-columns: repeat(3, 1fr);
			
			margin-top: 15%;
		}

			#fyn img {
				grid-column: 2 / 3;
				width: 100%;
			}

			#fyn h3 {
				grid-column: 1 / 4;
				text-align: center;
			}

			#fyn p {
				grid-column: 1 / 4;
				text-align: center;
			}


			#midt {
				grid-column: 8 / 12;
				
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				
				margin-top: 15%;
			}

				#midt img {
					grid-column: 2 / 3;
					width: 100%;
				}

				#midt h3 {
					grid-column: 1 / 4;
					text-align: center;
				}

				#midt p {
					grid-column: 1 / 4;
					text-align: center;
				}





	#danmark2 {
		grid-column: 1 / 13;

		display: grid;
		grid-template-columns: repeat(12, 1fr);

		margin-top: 3%;
	}

		#danmark2 h3 {
			margin: 0;		
			margin-top: 2%;
		}

			#sjaelland {
				grid-column: 2 / 6;

				display: grid;
				grid-template-columns: repeat(3, 1fr);
			}

				#sjaelland img {
					grid-column: 2 / 3;
					width: 100%;
				}

				#sjaelland h3 {
					grid-column: 1 / 4;
					text-align: center;
				}

				#sjaelland p {
					grid-column: 1 / 4;
					text-align: center;
				}


				#bornholm {
					grid-column: 8 / 12;

					display: grid;
					grid-template-columns: repeat(3, 1fr);
				}

					#bornholm img {
						grid-column: 2 / 3;
						width: 100%;
					}

					#bornholm h3 {
						grid-column: 1 / 4;
						text-align: center;
					}

					#bornholm p {
						grid-column: 1 / 4;
						text-align: center;
					}

	

#sweden_norway {
	grid-column: 1 / 13;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	margin-top: 5%;
}

	#tekst_se {
		grid-column: 1 / 7;

		font-family: 'Cormorant Garamond', serif;
		font-weight: 400;
		font-size: 2.2em;
		text-align: center;
		
		background-color: #E0D8CE;
		padding: 2%;
		margin: 0;
		margin-left: 7%;
		margin-right: 7%;
	}

	#tekst_no {
		grid-column: 7 / 13;

		font-family: 'Cormorant Garamond', serif;
		font-weight: 400;
		font-size: 2.2em;
		text-align: center;
		
		background-color: #E0D8CE;
		padding: 2%;
		margin: 0;
		margin-left: 7%;
		margin-right: 7%;
	}

	#sweden_norway h3 {
		margin: 0;		
		margin-top: 2%;
	}

		#sweden {
			grid-column: 2 / 6;

			display: grid;
			grid-template-columns: repeat(3, 1fr);
			
			margin-top: 15%;
		}

			#sweden img {
				grid-column: 2 / 3;
				width: 100%;
			}

			#sweden h3 {
				grid-column: 1 / 4;
				text-align: center;
			}

			#sweden p {
				grid-column: 1 / 4;
				text-align: center;
			}


			#norway {
				grid-column: 8 / 12;
				
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				
				margin-top: 15%;
			}

				#norway img {
					grid-column: 2 / 3;
					width: 100%;
				}

				#norway h3 {
					grid-column: 1 / 4;
					text-align: center;
				}

				#norway p {
					grid-column: 1 / 4;
					text-align: center;
				}



#finland {
	grid-column: 1 / 13;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	margin-top: 5%;
	margin-bottom: 5%;
}

	#finland h2 {
		grid-column: 1 / 13;

		font-family: 'Cormorant Garamond', serif;
		font-weight: 400;
		font-size: 2.2em;
		text-align: center;
		
		background-color: #E0D8CE;
		padding: 1%;
		margin: 0;
		margin-left: 3%;
		margin-right: 3%;
	}

	#finland h3 {
		margin: 0;		
		margin-top: 2%;
	}

		#finland_1 {
			grid-column: 2 / 6;

			display: grid;
			grid-template-columns: repeat(3, 1fr);
			
			margin-top: 15%;
		}

			#finland_1 img {
				grid-column: 2 / 3;
				width: 100%;
			}

			#finland_1 h3 {
				grid-column: 1 / 4;
				text-align: center;
			}

			#finland_1 p {
				grid-column: 1 / 4;
				text-align: center;
			}


			#finland_2 {
				grid-column: 8 / 12;
				
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				
				margin-top: 15%;
			}

				#finland_2 img {
					grid-column: 2 / 3;
					width: 100%;
				}

				#finland_2 h3 {
					grid-column: 1 / 4;
					text-align: center;
				}

				#finland_2 p {
					grid-column: 1 / 4;
					text-align: center;
				}








/* FOOTER */

footer {
	grid-column: 1 / 13;
	background-color: #E0D8CE;
	text-align: left;
	font-size: 1.2em;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	margin-top: 3%;
}

h4 {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;
	margin-bottom: 2%;
}

footer p {
	margin: 0;
	line-height: 1.6;
}

#adresse {
	grid-column: 2 / 4;
	margin-top: 15%;
	margin-left: 20%;
}

#kontakt_footer {
	grid-column: 6 / 8;
	margin-top: 15%;
	margin-left: 20%;
}

#some {
	grid-column: 10 / 12;
	margin-top: 15%;
	margin-left: 20%;
	
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

	#some h4 {
		grid-column: 1 / 6;
	}

	#instagram {
		grid-column: 1 / 2;
	}

		#instagram img {
			width: 100%;
		}

	#facebook {
		grid-column: 2 / 3;
		margin-left: 3%;
	}

		#facebook img {
			width: 100%;
		}

#cvr {
	grid-column: 1 / 13;
	text-align: center;
	color: #A7A7A7;
	margin-bottom: 1%;
	margin-top: 2%;
}
	
}